*{

    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #74c69dff;
}

header{
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: #000;
    border-bottom: solid 3px gray
}

a:link, a:visited,a:active {
    text-decoration:none;    
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 50px;
    
}

main section.disponibilidad{
    text-align: center;
}

main section.form{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main section.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}



main section.form input,
main section.form select{
    padding: 8px;
    border-radius: 50px;
    text-align: center;
    margin: 10px;;
}

main section.form textarea{
    width: 300px;
    height: 230px;
    padding: 15px;
    border-radius: 12px;
    flex-wrap: wrap;
}

button, .btn-volver{
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 50px;
    margin: 30px;
    width: 350px;
    background-color: #1b4332ff;
    color: #FFF;
    border-style: none;
    cursor: pointer;
}

section.inquilinosCargados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


div.card{
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}

p.parrafo-card{
    margin: 0;
    padding: 12px;
    text-align: center;
}

div#divInquilinos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 50px;
}

section.inquilinosCargados button.btn-danger{
    width: 9rem;
}

section.form h2{
    margin-bottom: 50px;
}

section.form ol.pasos{
    display: flex;
    flex-direction: column;
}

section.form ol.pasos li{
    list-style:none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}

section.form ol.pasos p.paso{
    margin-left: 100px;
    font-style: italic;
}

section.form ol.pasos li::before{
    content:"";
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    color: #FFF;
    background-color: #1b4332ff;
    font-weight: 700;
    text-align: center;
    margin-right: 20px;
}

section.form ol.pasos li.one::before{
    content: "1";
    display: flex;
    justify-content: center;
    align-items: center;
}

section.form ol.pasos li.two::before{
    content: "2";
    display: flex;
    justify-content: center;
    align-items: center;
}

section.form ol.pasos li.three::before{
    content: "3";
    display: flex;
    justify-content: center;
    align-items: center;
}




div.finalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
    text-align: center;
}

p.finalizar{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

i.fa-check-circle{
    cursor: pointer;
    font-size: 2rem;
}


button.finalizar{
    margin-top: 0px;
}

main section.finalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section.form,
main section.inquilinosCargados,
main section.finalizar{
    display: none;
}

div.fechaSeleccionada{
    text-align: right;
}

/* Dark Mode */

.divDarkMode ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

body{
    background-color:#F1FAEE;
    color: black;
    transition: background-color 800ms ease;
}

.darkMode{
    background-color: black;
    color: #F1FAEE;
}


header div ul li button.btnLightMode,
header div ul li button.btnDarkMode{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    top: 1%;
}